body
{
  margin-right: 2500px;
  padding: 0;
  width: 97%;
  height: 100vh;
  /* make it look decent enough */
  background: var(--color-bg);
  color: var(--color-text);
  font-family: "Iosevka";
}

@font-face {
    font-family: "bcbd";
    src: url(extras/bcbd.ttf);
}
@font-face {
    font-family: "Iosevka";
    src: url(extras/Iosevka.ttf);
}





.info-square {
  background: var(--color-text)
}
/* Container for the image gallery */
/* Container for the image gallery */
.image-gallery {
  display: grid;
  gap: 20px; /* Space between items */
  padding: 20px;
  background: var(--color-bg);
  
  /* Default to a single column */
  grid-template-columns: 1fr;
}

/* Responsive grid layout */
@media (min-width: 768px) {
  /* On medium screens, show up to 2 columns */
  .image-gallery {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  /* On large screens, show up to 3 columns */
  .image-gallery {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Individual image container */
.image-container {
  display: flex;
  justify-content: center;
  padding: 3px;
}

.image-container img {
  width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
  border-radius: 10px; /* Optional: rounded corners */
}


#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4rem;            /* Footer height */
}



/*
  Color Scheme Toggle Switch
  - Styled checkbox with slight animation when toggling
*/
/*
  Light Mode Color Scheme
*/
:root {
  --color-anchor: #337ab7;
  --color-bg: #fdf6e3;
  --color-blockquote-text: #777;
  --color-code-bg: #f7f7f7;
  --color-code-text: #333;
  --color-divider: #cdcdcd;
  --color-heading: #333;
  --color-table-border: #c2c2c2;
  --color-table-row-even: #f0f0f0;
  --color-table-row-header: #e8e6e6;
  --color-table-row-odd: #fbfbfb;
  --color-toggle-accent: #ff7900;
  --color-text: #333;
)}

/*
  Dark Mode Color Scheme
*/
html.dark {
  --color-anchor: #77e1cd;
  --color-bg: #002B36;
  --color-blockquote-text: #c0bcbc;
  --color-code-bg: #313030;
  --color-code-text: #fefefe;
  --color-divider: #8b8b8b;
  --color-heading: #dfdfdf;
  --color-table-border: #767676;
  --color-table-row-even: #181818;
  --color-table-row-header: #000;
  --color-table-row-odd: #333333;
  --color-toggle-accent: #a076ce;
  --color-text: #fafafa;
}




#color-mode-switch {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: var(--color-bg);
  
}

#color-mode-switch > span {
  font-size: 30px;
  display: inline-block;
  margin-right: 8px;
}

#color-mode-switch svg {
  width: 24px;
  height: 24px;
  margin: 0 4px;
}

#color-mode-switch input[type=checkbox] {
  height: 0;
  width: 0;
  visibility: hidden;
}

#color-mode-switch label {
  cursor: pointer;
  text-indent: -9999px;
  width: 42px;
  height: 21px;
  border-radius: 30px;
  background: var(--color-toggle-accent);
  display: block;
  position: relative;
  margin: 0;
}

#color-mode-switch label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 15px;
  height: 15px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

#color-mode-switch input:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

#color-mode-switch label:active:after {
  width: 30px;
}
//*
  Apply colors to general doc selectors
*/
html, body {
  background-color: var(--color-bg);
  color: var(--color-text);
}

/*
